@tailwind base;
@tailwind components;
@tailwind utilities;

.clearfix {
    overflow: auto;
  }

 .clearfix::after {
    content: "";
    clear: both;
    display: table;
}
* {
    margin: 0;
    padding: 0;
  }